/*
 *
 *  Main css file. to be embedded into every page directly.
 *
 */
:root {
    --bg: #fffefa;/*background*/
    --nm: #363636;/*normal*/
    --li: #bdbdbd;/*light*/
    --ac: #474679;/*accent*/
    --wi: 60ch;     /*max width*/
}
* {
  margin: 0;
}
body {
  color: var(--nm);
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  padding: 0rem 1.5rem 1.5rem;
}
header,
main,
footer {
  max-width: var(--wi);
  margin: auto;
  word-wrap: break-word;
}
footer{
  padding: 5px;
  margin-bottom: 5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  font-size: smaller;
}
h1 {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
h2 {
  padding-top: 4rem;
  margin-bottom: 2rem;
}
p {
    text-align: justify;
    line-height: 1.5rem;
}
a {
    color: var(--ac);
}
a:hover {
    text-decoration: underline;
}
h1 a {
  text-decoration: none;
}
nav a {
  font-weight: bold;
  padding: 5px;
}
img {
    width: 100%;
    height: auto;
    max-width: var(--wi);
    border-radius: 10px;
}
span {
  color: var(--li);
  font-weight: bolder;
}
hr {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: var(--li);
  border-style: dashed;
}

.code hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
pre {
  margin: 0;
}
.post {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: italic;
        font-size: smaller;
}
.jump {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-style: italic;
  font-size: smaller;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #161616; /*normal*/
        --nm: #fffefa; /*background*/
        --li: #5c5c5c; /*light*/
        --ac: #f1b138; /*accent*/
    }
}
