/*
 *
 *  Special css file. to be included optionally for the opt-in site.
 *
 */
h1::after {
  content: "|";
  color: var(--ac);
  animation: blink 1s steps(2, start) infinite;
}
h2::before,
h3::before {
  color: var(--li);
  content: "# ";
}
ul {
  list-style: inside none;
  padding: 0px 10px;
}
ul li::before {
  font-weight: bolder;
  color: var(--li);
  content: "+ ";
}
.code {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid var(--li);
  border-radius: 10px;
  color: var(--ac);
}

.blur {
  /* borrowed from https://paco.me/ */
  background: linear-gradient(#111, #0000);
  position: sticky;
  backdrop-filter: blur(2px);
  /*! opacity: .95; */
  height: 60px;
  z-index: 1;
  mask-image: linear-gradient(
    to bottom,
    #000 25%,
    #00000000
  );
}
.blur:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, var(--bg), "transparent");
}
.blur:first-child {
  top: 0;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
