/*
 *
 *  Special css file. to be included optionally for the opt-in site.
 *
 */
h1::after{
    content: "|";
    color: var(--ac);
    animation: blink 1s steps(2, start) infinite;
}
h2::before,h3::before {
  color: var(--li);
  content: "# ";
}
ul {
  list-style: inside none;
  padding: 0px 10px;
}
ul li::before {
  font-weight: bolder;
  color: var(--li);
  content: "+ ";
}
.code {
			margin: 20px auto;
			padding: 15px;
			border: 1px solid var(--li);
			border-radius: 10px;
			color: var(--ac);
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}