/*
 *
 *  Main css file. to be embedded into every page directly.
 *
 */
:root {

  /*
    cool colours:
      #f66f57
      rgb(100, 238, 37)

  */

  --bg: #161616;
  /*normal*/
  --nm: #fff;
  /*background*/
  --li: #8f8e8e;
  /*light*/
  --dc: #4c4c4c;
  /*decor colour*/
  --ac: #ff5c5c;
  /*accent*/
  --a2: #f9a293;
  /*accent 2*/
  --vi: #aa6f66;
  /*visited ( for links ) */

  --note-bg: #231b19;
  --hint-bg: #191e23;

  --code-bg: #0e0e0e;

  --code-box-side-bg: #000;
  --code-box-side-fg: #fff;

  --wi: 80ch
    /*max width*/
}

/*
@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --nm: #272727;
    --li: #9f9f9f;
    --note-bg: #e99fff;
    --hint-bg: #acd6cf;
    --code-bg: #f0f4f7;

    --code-box-side-bg: #000;
    --code-box-side-fg: #fff;
  }
}
*/

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 4rem 1rem 1rem;
  color: var(--nm);
  background-color: var(--bg);
  /* background-color: #0f0f0f; */
  font-family: 'Noto Sans';
  /* font-size: 18px; */
}

header,
main,
footer,
section {
  max-width: var(--wi);
  margin: auto;
  word-wrap: break-word;
}

section, h2, h3, h4 {
  margin-top: 2rem;
}

.infobox h2, 
.infobox h3, 
.infobox h4 {
  margin-top: 0;
}

sup a {
  font-weight: bolder;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: var(--dc);
  text-decoration: none;
}

header a:hover {
  color: var(--ac) !important;
}

main {
  border-radius: 20px;
  padding: 60px;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

hgroup {
  margin-bottom: 5rem;
}

hgroup h4::before {
  color: var(--dc);
  content: "// ";
}

hgroup h4 {
  color: var(--dc);
  margin-top: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

/* === LINKS === */

a {
  color: var(--ac);
  text-decoration: underline var(--ac);
}

a:hover,
a:visited:hover {
  color: var(--a2);
  text-decoration: none;
}

/* a:visited {
  color: var(--vi);
} */
sup a {
  text-decoration: none;
}

nav>a, header a {
  font-weight: bold;
  padding: 5px;
}

/* === LINKS === */

span {
  color: var(--dc);
  font-weight: bolder;
}

main span {
  color: var(--li);
}

img {
  width: 100%;
  height: auto;
  max-width: var(--wi);
  border-radius: 10px;
}

time,
aside {
  color: var(--li);
  font-weight: bolder;
}

ul,
ol {
  padding-left: 2rem;
}

ul>ul,
ol>ol,
ol>ul,
ul>ol {
  border-left: 1px solid var(--dc);
}

li {
  margin: 10px;
  list-style-position: outside;
  padding-left: 8px;
}

ul>li::marker {
  content: '*';
  color: var(--dc);
}

ol>li::marker {
  content: counter(list-item) ":";
  color: var(--dc);
}

hr {
  color: var(--dc);
  margin: 12px 0px;
}

h2 a,
h3 a,
h4 a {
  text-decoration: none;
  font-style: italic;
  font-weight: bolder;
}

article>hr {
  border: none;
  margin: 4rem 0px;
}

article>hr::before {
  content: '* * *';
  display: block;
  text-align: center;
}

mark {
  background-color: var(--bg);
  color: var(--vi);
}

.datebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#toc {
  display: inline;
  float: right;
  left: 2%;
  top: 160px;
  position: fixed;
  width: 20vw;
  margin-right: -22vw;
}

#toc a,
.datebar a {
  color: var(--li);
  text-decoration: none;
}

#toc a:hover,
.datebar a:hover {
  color: var(--ac);
}

.toc li:hover::marker {
  color: var(--ac);
}

.toc li::marker {
  content: "#";
}

.infobox {
  padding: 18px;
  border-radius: 4px;
  border-bottom-right-radius: 20px;
}

.note {
  border: 2px solid var(--ac);
  background-color: var(--note-bg);
}

.note h3 {
  color: var(--ac);
}

.hint {
  border: 2px solid #438fd6;
  background-color: var(--hint-bg);
}

.hint h3,
.hint b,
.hint strong {
  color: #438fd6;
}

aside[id^="side-"],
.aside {
  display: inline;
  float: right;
  position: relative;
  width: 20vw;
  margin-right: -22vw;
}

.code-highlight {
  overflow: scroll;
  background-color: var(--code-bg);
  color: var(--nm);
  border-radius: 10px;
  padding: 20px 20px 20px 10px;
}

.code-highlight code span {
  font-weight: normal;
}

code {
  border-radius: 10px;
  font-family: 'Fira Code';
  color: var(--nm);
  background-color: var(--code-bg);
  width: 100%;
  margin-left: 16px;
}

pre {
  counter-reset: line;
  border-radius: 5px;
}

pre code {
  counter-increment: line;
}

pre code::before {
  content: counter(line);
  color: var(--ac);
  display: inline-block;
  text-align: right;
  width: 2em;
  padding: 0 1em 0 0;
}

.post-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div[class^="language-"]::before {
  content: attr(lang);
  position: relative;
  float: right;
  color: var(--ac);
}

footer {
  padding-top: 4rem;
  padding-bottom: 0;
}

nav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  padding-left: 0px;
}

footer nav {
  padding-top: 4rem;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  .aside {
    display: none;
  }

  hgroup {
    margin-bottom: 1rem;
  }

  #toc {
    position: unset;
    top: unset;
    margin: unset;
    padding: 0;
    right: unset;
    width: 100%;
    margin: 2rem;
  }
}

@media screen and (max-width: 900px) {
  main {
    padding: 0;
    margin-top: 10px;
  }
}

.s {
  color: rgb(146, 168, 93);
}

.n {
  color: #f66f57;
}

.k {
  color: #5c7edb;
}

.i {
  color: #ffb;
}

.c {
  color: #6e6060;
}

/*
  code highlight groups: 

  string
  number
  keyword
  identifier
  comment
*/