/*
 *
 *  Main css file. to be embedded into every page directly.
 *
 */
:root {
    --bg: #f2f2f2;/*background*/
    --nm: #1e1e1e;/*normal*/
    --li: #9f9f9f;/*light*/
    --ac: #ff3434;/*accent*/
    --wi: 80ch;     /*max width*/
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #161616; /*normal*/
        --nm: #f2f2f2; /*background*/
        --li: #545454; /*light*/
        --ac: #ff6161;/*accent*/
    }
}

body {
  padding: 4rem 1rem 1rem;
  color: var(--nm);
  background-color: var(--bg);
  font-family: monospace;
  font-size: 1rem;
}
header,
main,
footer {
  max-width: var(--wi);
  margin: auto;
  word-wrap: break-word;
}

main {
  padding-bottom: 8rem;
  padding-top: 4rem;
}

hgroup {
  padding-top: 6rem;
  margin-bottom: 5rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 6rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  padding: 10px;
  padding-left: 0px;
}
h1 {
  margin-top: 1rem;
}
h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h1, h2 {
  /* background-color: var(--ac); */
  /* color: var(--bg); */
  /* width: fit-content; */
  /* padding: 0px 10px; */
}

h1::before,
h2::before
{
  color: var(--li);
  content: "# ";
}
p {
    line-height: 1.5rem;
}
a {
    color: var(--ac);
}
a:hover {
  text-decoration: none;
  background-color: var(--ac);
  color: var(--bg);
}
.list-item a:hover,
h1 a:hover,
h2 a:hover {
  background-color: var(--bg); 
  color: var(--ac);
}
em, a {
  font-weight: medium;
}
h1 > a {
  text-decoration: none;
}
nav > a {
  font-weight: bold;
  padding: 5px;
}
img {
    width: 100%;
    height: auto;
    max-width: var(--wi);
    border-radius: 10px;
}
span {
  color: var(--li);
  font-weight: bolder;
}
p span::before, p span::after {
  content: " //"
}
li {
  margin: 10px;
  color: var(--li);
  list-style-type: " * ";
}

/* li::before {
  content: "*";
} */
hr {
  color: var(--li);
  border-style: dashed;
}

main hr {
  border: none;
}

main hr::before {
  content: '* * *';
  display: block;
  text-align: center;
}

pre {
  margin: 0;
	margin: 20px auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 10px;
  border: 1px solid var(--li);
  border-radius: 10px;
	color: var(--ac);
}

#list:hover .list-item:hover {
  opacity: 1;
  border-left: 24px solid var(--ac);
}

#list:hover .list-item {
  opacity: .3;
  border-left: 4px solid var(--bg);
}

/* #list > div > a::before {
  content: ":: ";
} */

#list > div > span::before {
  content: "// ";
}


.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 4px solid var(--li);
  padding: 20px;
  /* margin-top: 15px; */
  transition: opacity .3s ease;
  transition: border-left .4s ease;
}

.list-item a {
  text-decoration: none;
}
