/*
 *
 *  Main css file. to be embedded into every page directly.
 *
 */
:root {

    --bg: #161616;  /*normal*/
    --nm: #fff;     /*background*/
    --li: #8f8e8e;  /*light*/
    --dc: #4c4c4c;  /*decor colour*/
    --ac: #f66f57;  /*accent*/
    --a2: #f9a293;  /*accent 2*/
    --vi: #aa6f66;  /*visited ( for links ) */

    --wi: 80ch       /*max width*/
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #fff9f3;  /*background*/
        --nm: #4f4848;  /*normal*/
        --li: #9f9f9f;  /*light*/
    }
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 4rem 1rem 1rem;
  color: var(--nm);
  background-color: var(--bg);
  font-family: monospace;
}

header,
main,
footer,
section
{
  max-width: var(--wi);
  margin: auto;
  word-wrap: break-word;
}

main {
  padding-bottom: 8rem;
  padding-top: 4rem;
}

hgroup {
  padding-top: 6rem;
  margin-bottom: 5rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  padding-left: 0px;
}

footer nav {
  justify-content: center;
}

h1 {
  margin-top: 1rem;
  margin-bottom: .7rem;
}
h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
h4 {
  color: var(--li);
}
hgroup h4::before {
  color: var(--li);
  content: "// ";
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

/* === LINKS === */

a {
  color: var(--ac);
  text-decoration: underline;
}
a:hover, a:visited:hover {
  color: var(--a2);
  text-decoration: none;
}
/* a:visited {
  color: var(--vi);
} */
sup a {
  text-decoration: none;
}
em, a {
  font-weight: medium;
}
nav > a {
  font-weight: bold;
  padding: 5px;
}

/* === LINKS === */

span {
  color: var(--dc);
  font-weight: bolder;
}

img {
    width: 100%;
    height: auto;
    max-width: var(--wi);
    border-radius: 10px;
}

time, main span, aside {
  color: var(--li);
  font-weight: bolder;
}

li {
  margin: 10px;
}

hr {
  color: var(--dc);
}

main hr {
  border: none;
}

main hr::before {
  content: '* * *';
  display: block;
  text-align: center;
}

mark {
  background-color: var(--bg);
  color: var(--vi);
}

.note {
  padding: 18px;
  border: 2px solid var(--ac);
  border-radius: 4px;
  background-color:#231b19;
}

.note h3 {
  color: var(--ac);
}