:root {
  --accent: #8c60be;
  --light: #f7f7f7;
  --light-gray: #e6e6e6;
  --dark: #1d1d1d;
  --gray: #6f6f6f;
}

* {
box-sizing: inherit;
}
/* raw elements */
body {
  color: var(--dark);
  background: var(--light); 
  padding: 0;
  margin: 0;
  font-family: 'Fira Code';
}
aside {
  color: var(--accent);
  background: var(--light-gray);
  text-align: left;
  margin: 0.5rem;
  padding: 1rem;
  hyphens: none;
}
code {
  display: block;
  color: var(--light);
  background: var(--dark);
  overflow-x: auto;
  font-size: 1rem;
  padding: 1rem;
  padding-left: 0;
  border-radius: 10px;
}
 p > code,
 li > code,
 dd > code,
 td > code,
 strong > code {
   display: inline;
   overflow-x: none;
   padding: 0;
   margin: 0;
   border-radius: 0;
 }
a {
  color: var(--accent);
  text-decoration: none;
}
blockquote {
  padding: 0.7rem;
  margin: 0.5rem;
  border-left: 0.5rem solid rgb(191, 124, 207);;
  text-align: left;
  color: var(--light);
  background: var(--dark);
}
.page {
  padding: 1rem;
  min-height: 100vw;
}
.header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 14rem;
  padding: 0.1rem;
}
.main {
  text-align: left;
}
.titlebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titledata {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subtitle {
  word-wrap: break-word;
}
.date {
  color:#535353;
}
.title {
  color: var(--accent);
  text-align: center;
  text-rendering: optimizeLegibility;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: solid 1px var(--accent);
  padding-top: 5px;
}


/* index */
.icon {
  width: 150px;
  height: 150px;
  clip-path: circle();
  /* border-radius: 50%; */
  object-fit: cover;
  object-position: center;
}
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-title > h2, h4 {
  margin: 10px;
  margin-left: 0px;
}
.post-title > h4 {
  color: var(--gray);
}
.post-title > h2 {
  color: var(--accent);
}
.post {
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0.2rem;
  width: 90%;
  border-radius: 15px;
  border-bottom: 1px solid var(--accent);
}

.post:hover {
  background: #E8E8E8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --light: #1b1b1b;
    --dark: #f7f7f7;
  }

  code, blockquote {
    background: var(--light);
    color: var(--dark);
    border: 1px solid var(--accent);
  }
} */