:root {
  --accent: #D1795C;
  --light-accent: #f2d5bf;
  --light: #f7f7f7;
  --light-gray: #e6e6e6;
  --dark: #1d1d1d;
  --gray: #6f6f6f;
}

* {
box-sizing: inherit;
}
/* raw elements */
body {
  color: var(--dark);
  background: var(--light); 
  padding: 0;
  margin: 0;
  font-family: 'Fira Code';
}
aside {
  color: var(--accent);
  background: var(--light-gray);
  text-align: left;
  margin: 0.5rem;
  padding: 1rem;
  hyphens: none;
}
mark {
  background: var(--light-gray);
  color: var(--dark);
}
sup {
  color: var(--accent);
}
code {
  display: block;
  color: var(--light);
  background: #161616;
  overflow-x: auto;
  font-size: 1rem;
  padding: 1rem;
  padding-left: 0;
  border-radius: 10px;
}
 code > p,
 code > li,
 code > dd,
 code > dt,
 code > strong {
   display: inline;
   overflow-x: none;
   padding: 0;
   margin: 0;
   border-radius: 0;
 }
a {
  color: var(--accent);
  text-decoration: none;
  transition: transform 0.1s ease-in;
}
a:hover {
  transform: translate(0, -5px);
}

blockquote {
  padding: 0.7rem;
  margin: 0.5rem;
  border-left: 0.5rem solid var(--accent);
  text-align: left;
  color: var(--dark);
  background: var(--light-accent);
}
.page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* min-height: 110vw; */
}
.header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 14rem;
  padding: 0.1rem;
}
.main {
  text-align: left;
}
.titlebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titledata {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subtitle {
  word-wrap: break-word;
}
.date {
  color:#535353;
}
.title {
  color: var(--accent);
  text-align: center;
  text-rendering: optimizeLegibility;
}
.index {
  padding: 15px;
  border-radius: 10px;
  border-left: 4px solid var(--accent);
}
.blogpyzza {
  display: flex;
  color: var(--accent);
  text-align: center;
  text-rendering: optimizeLegibility;
}
.blogpyzza span {
  transition: transform 0.5s ease;
}
.blogpyzza span:hover {
 transform: rotateZ(180deg) translate(0, -10px);
}

.footer {
  display: flex;
  justify-content: center;
  border-top: solid 1px var(--accent);
  padding-top: 5px;
}


/* index */
.icon {
  width: 150px;
  height: 150px;
  clip-path: circle();
  /* border-radius: 50%; */
  object-fit: cover;
  object-position: center;
  transition: transform 2s ease;
}
.icon:hover {
  transform: rotateZ(720deg);
}
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-title > h2, h4 {
  margin: 10px;
  margin-left: 0px;
}
.post-title > h4 {
  color: var(--gray);
}
.post-title > h2 {
  color: var(--accent);
}
.post {
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0.2rem;
  width: 90%;
  border-radius: 15px;
  border-bottom: 1px solid var(--accent);
  transition: transform 0.1s ease-in;
}

.post:hover {
  background: #E8E8E8;
  transform: translate(0, -5px);
}

.codehilite .k  { 
  color: #EC76A9; 
}
.codehilite .kd { color: #EC76A9; }
.codehilite .kt { color: #33b1ff; }
.codehilite .nf { color: #A876E0; }
.codehilite .n  { color: #EC76A8; }
.codehilite .s  { color: #3ddbd9; }
.codehilite .sc { color: #3ddbd9; }
.codehilite .s2 { color: #3ddbd9; }
.codehilite .c  { color: #393939; }
.codehilite .c1 { color: #393939; }
.codehilite .cm { color: #393939; }
.codehilite .p  { color: #c1c7cd; }
.codehilite .cp { color: #42be65; }

@media screen and (min-width:800px) {
  .main {
    position: relative;
    display: block;
    border-radius: 10px;
    max-width: calc(70ch + 10.5rem);
    padding-right: 10.5rem;
    /*
    padding-left: 13.5rem;*/
    margin: auto;
    /*margin-left: 5rem;*/
    min-height: 100vh;
  }
  .main_post {
    position: relative;
    display: block;
    border-radius: 10px;
    max-width: calc(70ch + 10.5rem);
    padding-left: 13.5rem;
    margin: auto;
    /*margin-left: 5rem;*/
    min-height: 100vh;
  }
  aside {
    color: var(--accent);
    background: var(--light);
    position: absolute;
    right: 0;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 9rem;
    hyphens: none;
  }
  .index {
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    border-left: 4px solid var(--accent);
    width: 9.8rem;
  }

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --light: #1b1b1b;
    --dark: #f7f7f7;
  }

  code, blockquote {
    background: var(--light);
    color: var(--dark);
    border: 1px solid var(--accent);
  }
} */
